<div class="container">
    <div class="row">
        <div class="col-md-6"><iframe allowfullscreen frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
        <div class="col-md-6">
            <section class="contact-clean">
                <form method="post">
                    <h2 class="text-center">Contact us</h2>
                    <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Name" /></div>
                    <div class="form-group"><input type="email" class="form-control is-invalid" name="email" placeholder="Email" /><small class="form-text text-danger">Please enter a correct email address.</small></div>
                    <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            </section>
        </div>
    </div>
</div>
